<div class="page-header">
  <h1 class="inline mr15">My Projects</h1>
  <%= link_to "New Project", new_project_path, class: "btn btn-info inline" %>
</div>
<table class="table">
<%- @projects.each do |project| -%>
  <tr>
    <td><%= project.name %></td>
    <td>
      <%= link_to "New Image", new_project_project_image_path(project), class: "btn btn-info" %>
      <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %></td>
  </tr>
  <%- project.project_images.each do |project_image| -%>
    <tr>
      <td><%= image_tag project_image.canvas_url %></td>
    </tr>
  <%- end -%>
<%- end -%>
</table>