<div class="page-header">
  <h1 class="center">
    <% if @subscription.present? %>
      Subscribed to: <%= @subscription.plan_name %> Plan
    <% else %>
      Subscribed to: <b>None</b>
    <% end %>
    <% if current_user.customer? %>
      <%= link_to "Change", plans_path, class: "btn-mini btn-info vert-middle"  %>
      <%= link_to "Update Billing Info", new_customer_path, class: "btn-mini btn-success vert-middle", data: { "no-turbolink" => true } %>
      <%= link_to "Delete", subscription_path(@subscription), data: { "no-turbolink" => true, confirm: "Are you sure?  You will lose all subscription data!  This action can not be reversed!", disable_with: "Cancelling..." }, method: :delete, class: "btn-mini btn-primary inline vert-middle" if @subscription.present? %>
    <% end %>
  </h1>
</div>
<div class="row-fluid mb30">
  <div class="span6 hero-unit">
    <h2><%= pluralize @users.size, "User" %></h2>
    <p class="lead">Your plan allows for up to <%= @subscription.try(:plan_allowed_users) || 0 %> users.</p>
    <div class="pop_up_form">
    <h2 class="ml15">Add User</h2>
    <%= form_for @user, url: add_user_subscribers_url do |f| %>
      <div class="input-prepend inline mr5">
        <span class="add-on"><i class="icon-envelope"></i></span><%= f.email_field :email, class: "input-small", placeholder: "Email" %>
        <span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password, class: "input-small", placeholder: "Password" %>
      </div>
      <%= f.submit "Add", data: { disable_with: "Adding..."}, class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="mt15">
    <ul>
      <% cache @users do %>
        <%= render partial: "subscribers/user", collection: @users %>
      <% end %>
    </ul>
  </div>
  </div>
  <div class="span6 hero-unit">
    <% if @subscription.present? %>
      <h2><%= pluralize @whiteboards.size, "Whiteboard" %></h2>
      <p class="lead">Your plan allows for up to <%= @subscription.plan_allowed_whiteboards %> whiteboards.</p>
    <% end %>
  </div>
</div>

