<!DOCTYPE html>
<html>
<head>
  <title>WhiteBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "WhiteBoard", root_path, class: "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Pricing <i class='icon-tag icon-white'></i>".html_safe %></li>
        </ul>
        <ul class="nav pull-right">
          <%- if current_user -%>
            <li><%= link_to "My Account <i class='icon-user icon-white'></i>".html_safe, edit_user_registration_path %></li>
            <li><%= link_to "Sign Out <i class='icon-off icon-white'></i>".html_safe, destroy_user_session_path, method: :delete  %></li>
          <%- else -%>
            <li><%= link_to "Sign In <i class='icon-off icon-white'></i>".html_safe, new_user_session_path %></li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%- if flash[:alert].present? -%>
    <div class="alert alert-warning">
      <button class="close" data-dismiss="alert">×</button>
      <%= flash[:alert] %>
    </div>
  <%- elsif flash[:notice].present? -%>
    <div class="alert alert-info">
      <button class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
  <%- end -%>
  <%= yield %>
</div>

</body>
</html>
